
.vertical-center {
  	display: flex;
}

body {
	background-color: #F5F8FA;
}

img {
    border: 5px solid white ;
    border-radius: 10px;
    margin-right: 10px; 
}

.input {
	margin-top: 20px;
}

.go_back {
	position: absolute; 
	top: 20px; 
	left: 20px;
}

.user_name, .screen_name, .description, .user_name_small, .no_tweet_message, .tweet_text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.user_name {
	font-size: 22px;
	font-weight: 700;
}

.user_name_small {
	font-size: 15px;
	font-weight: 700;
}

.screen_name {
	font-size: 14px;
	color: #6987A6;
}

.description {
	font-size: 14px;
	font-weight: 400;
}

.user_header {
	margin-top: 10px;
}

.tweet {
	padding: 5px 0px 5px 0px;
	background: white;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.no_tweet_message {
	font-size: 20px;
	color: #6987A6;
}

.error_message {
	font-weight: bold;
	color: red;
}
